Binaries/
Projects/
Include/
*~

# libconsor package
Packages/Libary/debian/changelog
Packages/Libary/debian/libconsor/
Packages/Libary/debian/debhelper.log
Packages/Libary/debian/libconsor.debhelper.log
Packages/Libary/debian/libconsor.substvars
Packages/Libary/debian/files
Packages/Libary/build/
Packages/Libary/Files/

# libconsor-dev package
Packages/Development/debian/changelog
Packages/Development/debian/libconsor-dev/
Packages/Development/debian/debhelper.log
Packages/Development/debian/libconsor-dev.debhelper.log
Packages/Development/debian/libconsor-dev.substvars
Packages/Development/debian/files
Packages/Development/build/
Packages/Development/Files/


